torch
torchvision
scikit-learn
torchmetrics
annoy
matplotlib
nest-asyncio
aiorwlock

fastapi
uvicorn
python-multipart

tqdm
black[d]
dynaconf

polars
requests

aiomqtt
aiohttp
aiofile
#uvloop

pytest
tensorboard