/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 29px;
  line-height: 1.5em;
  height:1.2em;
  overflow: hidden;
  color: rgb(0, 0, 0);
}
.loader:before {
  content:"Loading...\Ağ“ƒ­ading...\Ağ“ƒ­ ğ“¯ading...\Ağ“ƒ­ğ“¯ğ“„¿ding...\Ağ“ƒ­ğ“¯ğ“„¿ğ“‚§ing...\Ağ“ƒ­ğ“¯ğ“„¿ğ“‚§ğ“‡‹ng...\Ağ“ƒ­ğ“¯ğ“„¿ğ“‚§ğ“‡‹ğ“ˆ–g...\Ağ“ƒ­ğ“¯ğ“„¿ğ“‚§ğ“‡‹ğ“ˆ–ğ“€...\Ağ“ƒ­ğ“¯ğ“„¿ğ“‚§ğ“‡‹ğ“ˆ–ğ“€ğ“†¸..\Ağ“ƒ­ğ“¯ğ“„¿ğ“‚§ğ“‡‹ğ“ˆ–ğ“€ğ“†¸ğ“… .\Ağ“ƒ­ğ“¯ğ“„¿ğ“‚§ğ“‡‹ğ“ˆ–ğ“€ğ“†¸ğ“… ğ“†„"; 
  white-space: pre;
  display: inline-block;
  animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
  100%{transform: translateY(-100%)}
}